
div {
    background-color: red;
}
* {
    background-color: green;
}
.descendentOne {
    background-color: yellow;
}
#idExample {
    background-color: gray;
}

#idExample .descendentOne {
    background-color: orange;
}

div {
    border-style: solid;
    margin: 10px;
    padding: 15px;
}

span {
    border-style: dotted;
    margin: 10px;
    padding: 10px;
}
/* 
#divThree > .spanOne + span {
    background-color: blue;
} */

/* .spanTwo ~ span {
    background-color: blue;
} */

/* div :first-child {
    background-color: blue;
} */

/* div :last-child {
    background-color: blue;
} */

/* div :nth-child(2) {
    background-color: blue;
} */

div:hover {
    background-color: blue;
}