:root {
    --text-color: blue;
    --content-width: 50vw;
}

h1 {
    color: var(--text-color);
}

section h2 {
    background-color: yellow;
    color: var(--text-color);
    width: var(--content-width);
}

section > p {
    color: var(--text-color);
    font-size: 1.5rem;
}

section > div {
    color: var(--text-color);
    font-size: 1.75rem;
    border: 1px solid black;
    padding: 10px;
    width: var(--content-width);
}

section > div > p {
    color: var(--text-color);
    background-image: linear-gradient(lightblue, pink);
    padding: 5px;
}

img {
    width: var(--content-size);
}



